.idea
.vscode
.vs
.ionide

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Scala projects
.bsp
target

# Visual Studio generated items
/Visual Studio 2022/
