"""
Advent of Code 2023, Day {{ day }}: {{ title}}.
"""

import sys
from typing import TextIO


def part_one(file: TextIO) -> int:
    """
    Solve part one of the puzzle.
    """
    return -1


def part_two(file: TextIO) -> int:
    """
    Solve part two of the puzzle.
    """
    return -1


def main():
    """
    The main entrypoint for the script.
    """
    filename = sys.argv[0].replace(".py", ".txt")

    with open(filename, encoding="utf-8") as file:
        print("Part one:", part_one(file))

    with open(filename, encoding="utf-8") as file:
        print("Part two:", part_two(file))


if __name__ == "__main__":
    main()
